h1{
    color:aqua;
}
p{
    color:blueviolet;
}
.titulos{
    color:brown

}
.h2{
    color: rgb(12, 121, 216);
}
#segundo_parrafo{
    color: chartreuse;
}
.contactos{color: rgba(201, 27, 163, 0.774);}

.formulario{
    color: rgba(7, 160, 45, 0.849);
}

.caja{
    border: 5px solid black;
    margin: 30px;
    padding: 10px;
}

.contenido{
    border:5px solid orangered; 
}